[submodule "third_party/mar"]
	path = third_party/mar
	url = https://github.com/gatheluck/mar
	ignore = untracked
[submodule "third_party/var"]
	path = third_party/var
	url = https://github.com/FoundationVision/VAR
[submodule "third_party/franca"]
	path = third_party/franca
	url = https://github.com/valeoai/Franca
	ignore = untracked
[submodule "third_party/dinov2"]
	path = third_party/dinov2
	url = https://github.com/facebookresearch/dinov2
[submodule "third_party/dall_e"]
	path = third_party/dall_e
	url = https://github.com/openai/DALL-E.git
[submodule "third_party/ml-aim"]
	path = third_party/ml-aim
	url = https://github.com/apple/ml-aim.git
[submodule "third_party/msn"]
	path = third_party/msn
	url = https://github.com/facebookresearch/msn.git
[submodule "third_party/jepa"]
	path = third_party/jepa
	url = https://github.com/facebookresearch/jepa.git
[submodule "third_party/CLIP"]
	path = third_party/CLIP
	url = https://github.com/openai/CLIP.git
[submodule "third_party/unilm"]
	path = third_party/unilm
	url = https://github.com/microsoft/unilm.git
[submodule "third_party/vjepa2"]
	path = third_party/vjepa2
	url = https://github.com/facebookresearch/vjepa2
